
html{
	/*background: rgba(0,0,0,0.80);*/
	background: blueviolet;
	box-shadow: inset 0 0 200px rgba(0,0,0,0.9);
	min-height: 100%;
}

.enemy{
	position: absolute;
}

.reja{
	background: blue;
	position: absolute;
}

.bala{
	width: 7px;
	height: 4px;
	background: white;
	position: absolute;
	z-index: 1;
	display: inline-block;
	visibility: hidden;
	box-shadow: 0 0 5px 5px blue;*/
	border-radius: 3px;
}

#lienzo{
	border: solid red;
	margin: 0 auto;
	width: 85%;
	height: 85%;
	position: absolute;
	background: url("../../imgs/marte.jpg")  center center fixed;
	overflow: hidden;
	visibility: hidden;
}

#mark{
	width: 52px;
	height: 85px;
	position: absolute;
	background-image: url("../../imgs/markRight.gif");
	z-index: 2;
}
